<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "background.png" %>');">
  <div class="container">
    <%= link_to "SEARCH BAR", cats_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4 class="m-3">Top 3 angriest cats</h4>
      <hr>

  <div class="col-lg-12 text-center">
    <h3>Sometimes all it takes is an agry cat<br></h3>
    <p>For yourself or your hideous neighbour,<br>for a day or for the whole month.<br>Rent a variety of nasty felines on agrycats.org<br>
    <hr>Get ready for the next scratch</p>
  </div>

  <div class="col-lg-12 d-flex justify-content-between gx-3 text-center">

      <div class="col-sm-3">
        <div class="card my-8">
            <img src="https://t4.ftcdn.net/jpg/00/68/33/03/360_F_68330331_dKqChy33w0TcNHJEkqT5iw97QOX8la7F.jpg">
            <div class="card-body">
              <h5 class="card-title text-center">Voldemort</h5>
              <%= link_to "Book me", cat_path(1), class: 'btn btn-primary' %>
            </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card my-8">
            <img src="https://t4.ftcdn.net/jpg/00/68/33/03/360_F_68330331_dKqChy33w0TcNHJEkqT5iw97QOX8la7F.jpg">
            <div class="card-body">
              <h5 class="card-title text-center">Saruman</h5>
              <%= link_to "Book me", cat_path(1), class: 'btn btn-primary' %>
            </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card my-8">
            <img src="https://t4.ftcdn.net/jpg/00/68/33/03/360_F_68330331_dKqChy33w0TcNHJEkqT5iw97QOX8la7F.jpg">
            <div class="card-body">
              <h5 class="card-title text-center">Mephisto</h5>
              <%= link_to "Book me", cat_path(1), class: 'btn btn-primary' %>
            </div>
        </div>
      </div>
  </div>


  <div class="col-lg-6 mt-3 text-center">
      <h3>Sometimes all it takes is an agry cat<br></h3>
  </div>

  <div class="col-lg-6 mt-3 text-center">
      <h3>Sometimes all it takes is an agry cat<br></h3>
  </div>

</div>
