<!-- Hero -->
<div class="p-5 text-center bg-image banner rounded-3" style="
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "background.png" %>');
    height: 400px;">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 id="shadowText" class="mb-5">Looking for trouble?</h1>
        <h4 class="mb-3">Search for...</h4>
        <span><%= link_to "ANGRY CATS", cats_path, class: 'btn btn-outline-light btn-lg'%></span>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->



<div class="container">

    <div class="row mt-5">
      <div class="col-lg-12 text-center">
        <h1 class="mb-4" style= 'letter-spacing: .2rem'>SOMETIMES ALL IT TAKES IS AN ANGRY CAT<br></h1>
        <p class="mb-4">For yourself or your hideous neighbour,<br>for a day or for the whole month.<br>Rent a variety of nasty felines on our platform.</p>
        <h3>Get ready for the next scratch!</h3>
      </div>
    </div>

    <div class="row text-center mt-5">
      <h4>Top angriest cats</h5>
        <div class="col-lg-12 d-flex justify-content-around gx-3 mt-3">
          <% @cats.first(3).each do |cat| %>
            <div class="col-sm-3">
              <div class="card my-5">
                <%= cl_image_tag cat.photo.key, class: "photo-grid-img card-img-top" %>
                <div class="card-body">
                  <h5 class="card-title"><%= cat.name %> </h5>
                  <%= link_to "Book me", cat_path(cat), class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-6 text-center text-white mt-5">
      <div class="rounded-3 bg-primary p-3">
        <h4>How it works</h4>
        <ul class="list-unstyled">
          <li class="list-group-item">1. Look for an angry cat in your neighborhood</li>
          <li class="list-group-item">2. Send a request to the owner</li>
          <li class="list-group-item">3. Go pick the angry creature up and... deal with it!</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-6 text-center text-white mt-5">
      <div class="rounded-3 bg-primary p-3">
        <h4>What our customers say</h4>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <p>Extraordinary! The cat sent my boss to hospital <strong>in no time</strong> so he couldn't fire me! Watch out, <strong>these cats are the scariest</strong> out there.</p>
      </div>
    </div>
  </div>

</div>
