<div style="width:100%" class="mb-3"><%= cl_image_tag cat.photo.key, height: 100, width: 100, crop: :fill, class:"cat-avatar" %></div>



<h4><%= cat.name %>

                        <% if cat.color == "black" %>
                          <i class="fa-solid fa-paw"></i>
                          <% elsif cat.color == "mixed" %>
                          <i class="fa-solid fa-paw mixed"></i>
                          <% elsif cat.color == "red" %>
                          <i class="fa-solid fa-paw orange"></i>
                          <% elsif cat.color == "white" %>
                          <i class="fa-regular fa-paw"></i>
                        <% end %>
                   </h4>
 <h6  style="margin-bottom:0">🏠 <%= cat.address %></h6>


 <a href="/cats/<%= cat.id %>" class="btn btn-link">See <%= cat.name %></a>
