<div style="container">
  <div class="search-container">
    <h1 class="mx-auto">Find your perfect angry cat!</h1>
    <%= simple_form_for :search, url: cats_path, method: :get do |f| %>
    <br>
      <%= f.input :address, label: 'Type the address:',
        input_html: {data: {address_autocomplete_target: "address"}},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
      <%= f.submit value: 'Search for a cat!', class: "btn-primary search-button" %>
    <% end %>
  </div>

  <% if params[:search].present? && !@cats.empty? %>
  <p><%= "You searched for:" %>
  <i><%= (params[:search][:address]) %></i></p>
  <% end %>
  <% if params[:search].present? && !@cats.empty? %>
  <p><%= "You searched for:" %>
  <i><%= (params[:search][:address]) %></i></p>
  <% end %>

<div data-controller="filter" data-filter-cats-value="<%= @cats.to_json %>">
  <div class="accordion mb-5" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Search filters
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body filters">


            <!-- accordion content below //-->
            <div>
            <!-- accordion content below //-->
            <div>

                  <h1 class="mx-auto">Filters</h1>
                  <hr>
                  <h1 class="mx-auto">Filters</h1>
                  <hr>

                  <form data-action="submit->filter#apply">
                    <div class="row align-items-start">

                        <div class="col-2">
                          Colour
                            <!-- checkboxes //-->
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="red" id="flexCheckDefault" data-filter-target="red">
                              <label class="form-check-label" for="flexCheckDefault">
                                Red
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="black" id="flexCheckChecked" data-filter-target="black">
                              <label class="form-check-label" for="flexCheckChecked">
                                Black
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="white" id="flexCheckChecked" data-filter-target="white">
                              <label class="form-check-label" for="flexCheckChecked">
                                White
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="mixed" id="flexCheckChecked" data-filter-target="mixed">
                              <label class="form-check-label" for="flexCheckChecked">
                                Mixed
                              </label>
                        </div>
                    </div>


                    <div class="col-2">
                              <!-- sliders //-->
                              <label for="fluffiness" class="form-label">Fluffiness</label>
                              <input class="form-range" type="range" value="3" min="1" max="5" step="1" oninput="this.nextElementSibling.value = this.value" id="fluffiness" data-filter-target="fluff">
                              <output>3</output>
                      </div>

                    <div class="col-2">
                              <label for="angriness" class="form-label">Angriness</label>
                              <input class="form-range" type="range" value="3" min="1" max="5" step="1" oninput="this.nextElementSibling.value = this.value" id="angriness" data-filter-target="angry">
                              <output>3</output>
                    </div>

                    <div class="col-2">
                              <label for="price" class="form-label">Price limit</label>
                              <input class="form-range" type="range" value="20" min="1" max="200" step="1" oninput="this.nextElementSibling.value = this.value" id="price" data-filter-target="price">
                              <output>20</output>
                  </div>

                    <div class="col-4">
                              <label for="distance" class="form-label">Distance (in km)</label>
                              <input class="form-range" type="range" value="20" min="1" max="40" step="1" oninput="this.nextElementSibling.value = this.value" id="distance" data-filter-target="distance">
                              <output>20</output>
                              <br>
                      <button class="btn btn-primary">Filter</button>
                  </div>

                </div>
                </div>



                </form>
              </div>
            <!-- accordion content end //-->
                </form>
              </div>
            <!-- accordion content end //-->

        </div>
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div>




  <br>
    <!-- container for search result and map below //-->

  <div class="container">
    <div class="row align-items-start">
    <!-- search result column below //-->
      <div class="col-8"  data-filter-target="filtered" id="filtered">
        <h1>Top angriest cats</h1>
            <hr>
            <div class="cards">
            <div >
            <% if @cats.empty? %>
                <div>
                  <%= "You searched for:" %>
                  <i><%=
                  # (params[:search][:address])
                  %></i></div>
                  <br>
                  <div class="mt-3"><%= "No angry cats in this area (yet!)." %><br>
                  <%= "Wait for some to barge in or try another area ðŸˆ" %>
                </div>
              <% else %>
              <!-- target div to wipe //-->

                <% @cats.each do |cat| %>
                  <div class="card" data-filter-target="cat">
                  <%= cl_image_tag cat.photo.key, class: "search-page-card card-img-top" %>
                    <div class="card-body">
                    <h5 class="card-title"><%= cat.name %> </h5>
                      <p class="card-text">
                    <%= cat.description.first(90) %>...</p>
                    <a href="/cats/<%= cat.id %>" class="btn btn-primary">Details</a>
                  </div>
                </div>
              <% end %>
              <% end %>
          </div>
      </div>
          <!-- target div to wipe  ends below//-->
          </div>

      <!-- map column below //-->
  <div class="col-4">
    <h1>Find them on the map</h1>
      <hr>
        <div style="width: 100%; height: 600px;position: sticky"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
        </div>
  </div>
</div>
