<h1>List your angry furball</h1>
<%= simple_form_for [@cat] do |f| %>
  <%= f.input :name, :prompt => "Angriness level"%>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :angriness_level, as: :range, input_html:{ min:"0", max:"5"} %>
  <%= f.input :fluffiness, as: :range, input_html:{ min:"0", max:"5"} %>
  <%= f.input :color, :collection => ["red", "yellow", "green", "grey", "orange"] %>
  <%= f.input :price%>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Submit", class: "btn btn-primary rating-color" %>
<% end %>



  <%# <%= f.input :fluffiness, :collection => 1..5, :prompt => "Fluffiness level" %>
  <%# <%= f.input :angriness_level, :collection => 1..5, :prompt => "Angriness level" %>
